/* 기본 설정 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px; /* 컨테이너 패딩 */
}

.card {
  flex: 0 0 275px; /* 카드 너비 고정 */
  height: 350px;
  margin: 10px;
  border-radius: 15%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardsgrid {
  display: flex;
  flex-wrap: nowrap; /* 아이템들이 줄바꿈 되지 않고 한 줄로 나열되도록 설정 */
  overflow-x: auto; /* 수평 스크롤 활성화 */
  justify-content: flex-start; /* 카드를 왼쪽 정렬 */
  gap: 20px;
  width: 100%; /* 컨테이너 너비 전체 사용 */
}

.slide {
  width: 275px;
  min-width: 275px; /* 슬라이드 너비 고정 */
  transition: transform 300ms ease-out;
}
@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
  }

  .cardsgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    width: 100%; /* 뷰포트에 맞게 너비 조정 */
    max-width: 95vw; /* 최대 너비를 뷰포트의 95%로 설정 */
    margin: 0 auto;
  }

  .header,
  .footer {
    display: none;
  }

  .slide {
    width: 100%;
    height: auto;
  }
}
