.reserve input[type="number"] {
  display: none;
}

.reserve > * article button {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}

.reserve > * article button:hover {
  background-color: hsl(26, 98%, 77%);
}

.info {
  display: flex;
  width: calc(300px * 7);
  transition: 500ms;
}

.reserve article {
  width: 300px;
}

#personal {
  width: auto;
  height: auto;
}
#personal:hover {
  background-color: transparent;
}
